/crunch/target/
/ingestion/target/
/target/
/pig/target/
/pigUdf/target/
.DS_Store
/nosql/target/
/realtime/target/
/hdfs/target/
/usecase/target/
/mrcassandra/target/
/kafka/target/
/mapreduce/target/
/fileformats/target/
/hbase-client/target/
/core-mapreduce/target/
/serialization/target/
/hive/target/